html {
    min-height: 100%;
}    
body {
    margin: 0;
    font-family: Arial;
    min-height: 100%;
    background-color: #eee;
}

.header {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    padding: 10px;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.buscar {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 25px;
    width: 200px;
    outline: none;
}
::placeholder {
    text-align: center;
    font-size: 14px;
}
hr {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 0;
 }
.post-list {
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 28px;
}
.post {
    cursor: pointer;
    position: relative;
    display: block;
}
.post-image {
    margin: 0;
}
.post-image img {
    width: 100%;
    vertical-align: top;
}
.post-overlay {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.post:hover .post-overlay {
    display: flex;
}
.post-likes,
.post-coments {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}



.footer1,
.footer2 {
    text-align: center;
    margin-top: 15px;;
}
.text--footer {
    font-size: 12px;
    text-decoration: none;
    margin-right: 16px;
    color: #0431B4;
}
.text--footer:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .post-list {
        grid-gap: 3px;
    }
    .header {
        grid-template-columns: repeat(2, 1fr);
    }
    .logo {
        justify-self: flex-start;
        margin-left: 10px;
    }
    .buscar {
        display: none;
    }
    .principalButtons {
        justify-self: flex-end;
    }
}