body {
	background-color: #f2f2f2;
	font-family: arial;
}
.container {
	margin: 50px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

/*------------------------------------------------------------ card */
.container__card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #000;
}
/*----------------------------------- card__header */
.card__header {
	display: flex;
	align-items: center;
}
.card__header-logo {
	width: 4em;
	margin: 0 10px;
}
.card__header-info h2 {
	margin-bottom: 0;
}
.card__header-info p {
	margin-top: 5px;
}

/*----------------------------------- card__body */
.card__body-img {
	width: 100%;
}
.card__body p {
	margin: 10px;
}
/*----------------------------------- card__footer */
.card__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 30px 10px 20px;
}
.card__footer-buttons a {
	padding: 10px 10px;
	text-decoration: none;
	border-radius: 10px;
}
.card__footer-buttons a:hover {
	box-shadow: 1px 1px 5px #000;
}
.btn-cancel {
	border: 2px solid #FF0000;
	color: #FF0000;
}
.btn-primary {
	border: 2px solid #01DF3A;
	background-color: #01DF3A;
	color: #fff;
	margin-left: 10px;
}
.card__footer img {
	width: 25px;
}
.card__footer img:hover {
	cursor: pointer;
}
/*------------------------------------------------------------ footer */
.footer {
    width: 100%;
	bottom: 0;
	position: fixed;
	background-color: #f2f2f2;
}
.footer2 {
    text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}
.text--footer {
    font-size: 12px;
    text-decoration: none;
    margin-right: 16px;
    color: #0431B4;
}
.text--footer:hover {
    text-decoration: underline;
}
/*------------------------------------------------------------ responsive */
@media screen and (max-width: 900px) {
	.container {
	grid-template-columns: 1fr 1fr;
	}
	.container__card {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 680px) {
	.container {
	grid-template-columns: 1fr;
	}
}